*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 
}

.header{
    background-color: rgb(27, 26, 26);
    border-bottom: solid 2px rgba(247, 53, 53, 0.849);
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}

.header span {
    font-size: 2rem;
    color: rgb(197, 31, 31);
    margin-right: 2rem;
}

nav {
    margin-right: 2rem;
}

a {
    color: aliceblue;
    padding: 0.5rem;
    
}