.footer {
    background-color: black;
    color: aliceblue;
    border-top: 2px solid red;
    width: 100%;
    padding-block: 0.5rem;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
}