.banner {
    width: 100px;
    height: 350px;
    background-image: url('/public/images/banner-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

